<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVo4UpxSI9xiv315gsh0uw0iEErydWFDo</string>
	<key>GCM_SENDER_ID</key>
	<string>122656232080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.xorg.GSApp</string>
	<key>PROJECT_ID</key>
	<string>gsapp3-mp</string>
	<key>STORAGE_BUCKET</key>
	<string>gsapp3-mp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122656232080:ios:e83475221a90d4ac49be15</string>
</dict>
</plist>